@use "../base/variables" as *;

.footer {
  background: #f9f5ed;
  height: auto;
  padding-top: 143px;
}

.tooter__item a{
  color: $color-main;
}

.footer__bottom {
  height: 45px;
}

.footer__name {
  display: flex;
  margin-left: 25px;
  font-size: clamp(32px, 5vw, 64px);
  font-weight: bold;
  color: $color-gray;
  @media screen and (max-width: 463px) {
    margin-left: 0;
    max-width: 200px;
    width: 100%;
  }
}

.copyright {
  display: flex;
  justify-content: center;
}

.bottom__list {
  display: flex;
  justify-content: end;
  width: 100%;
  gap: 30px;
  margin-right: 20px;
  margin-top: -20px;
  @media screen and (max-width: 768px) {
  margin-top: -54px;
  gap: 20px
  }
}

.back__button {
  display: flex;
  justify-content: end;
  margin-right: 45px;
}

.footer__inner {
  padding: 40px;
  text-align: center;
}

.footer__logoLink {
  display: inline-block;
  margin: 0 auto 16px;
}

.footer__list {
  display: flex;
  gap: 32px;
  margin-bottom: 10px;
  margin-left: 25px;
  @media screen and (max-width: 768px) {
    gap: 8px;
    flex-direction: column;
  }
}

.footer__item {
  @media screen and (max-width: 768px) {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

.footer__link {
  font-family: "Noto Serif JP";
  font-weight: bold;
  color: $color-accent;
  transition: 0.2s;
}

.footer__link:hover {
  opacity: 0.7;
}

.footer__copy {
  font-size: 14px;
  color: $color-accent;
}

.sns-img {
  width: 100%;
  height: auto;
}

.bottom__item {
  list-style-type: none;
}