.works__button {
 display: block;
 margin-top: 88px;
 padding: 0 171px;
 @media screen and (max-width: 450px) {
    padding: 0 0;
    margin: 88px 0;
  }
}

.works-back-button {
    display: block;
    width: 150px;
    padding: 10px 0;
    margin: auto;
    background-color: #fff;
    border: 1px solid #83776a;
    color: #83776a;
    text-align: center;
    transition: 0.2s;
    position: relative;
}  

.works-back-button--pc {
    @media screen and (max-width: 768px) {
    display: none;
  }
}

.works-back-button::after {
  position: absolute;
    content: "";
    width: 70px;
    height: 1px;
    background-color: #83776a;
    top: 0;
    bottom: 0;
    margin: auto;
    right: -56px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    z-index: 10;
}

.works-back-button:hover {
  background-color: #888;
  color: #fff;
}

.works-back-button--sp {
    width: 150px;
    padding: 10px 0;
    margin: auto;
    background-color: #fff;
    border: 1px solid #83776a;
    color: #83776a;
    text-align: center;
    transition: 0.2s;
    position: relative;
    display: none;
}

  .works-back-button--sp {
    @media screen and (max-width: 768px) {
    display: block;
    margin: 0 auto 160px;
  }
}

.works-back-button--sp::after {
  position: absolute;
    content: "";
    width: 70px;
    height: 1px;
    background-color: #83776a;
    top: 0;
    bottom: 0;
    margin: auto;
    right: -56px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    z-index: 10;
}

.works-back-button--sp:hover {
  background-color: #888;
  color: #fff;
}

.button003 a {
    background: #5ec8fd;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 260px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}

.button003 a:hover {
    background: #313131;
    color: #FFF;
}

.button003 a:after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #313131;
    border-right: 3px solid #313131;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    right: 20px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}

.button003 a:hover:after {
    border-color: #FFF;
}

.bottom-text {
  width: 700px;
  display: block;
  margin: auto;
  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 0 100px;
    margin-top: -10px;
   }
   @media screen and (max-width: 450px) {
    width: 100%;
    padding: 0 45px;
    margin-top: -10px;
   }
}

.bottom-text p {
  margin: 5px 0;
}

@media screen and (max-width: 781px) {
  .wp-block-buttons {
    margin-top: 60px;
    margin-bottom: 30px;
 }
}

.about-button {
  width: 150px;
  margin: auto;
  padding: 0;
  border: 0;
  background: none;
  position: relative;
}

.about-button .wp-block-button__link {
  display: block;
  width: 100%;
  padding: 10px 0;
  background-color: #fff;
  border: 1px solid #83776a;
  border-radius: 0;
  color: #83776a;
  text-align: center;
  text-decoration: none;
  transition: 0.2s;
  position: relative;
}

.about-button .wp-block-button__link:hover {
  background-color: #83776a;
  color: #fff;
}

.about-button .wp-block-button__link::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 90%;
  width: 50px;
  height: 1px;
  background-color: #83776a;
  transform: translateY(-50%);
  transition: 0.2s;
}

.about-button .wp-block-button__link:hover::after {
  width: 60px;
}