/*******************************
共通パーツの指定
*******************************/
.u-wrapper {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

/*******************************
first view
*******************************/
.firstView {
  height: 900px;
  margin: auto;
  background-size: cover;
  background-position: bottom;
  position: relative;
  padding-top: 80px;
}

.firstView__inner {
  vertical-align: middle;
  height: 50%;
}

.firstView__text {
  position: absolute;
  bottom: 75px;
  left: 25px;
  display: flex;
  align-items: center;
  font-family: "Noto Serif JP";
  font-size: 16px;
  font-weight: Medium;
  color: #333;
}

.firstView__title {
  font-family: "Georgia";
  font-size: 32px;
  position: absolute;
  top: 40%;
  letter-spacing: 0.8em;
  width: 100%;
  text-align: center;
  @media screen  and (max-width: 768px) {
    width: auto;
    font-size: 24px;
  }
}

.firstView__img {
  margin-left: auto;
}

/*******************************
concept
*******************************/
.concept_title {
  width: 100%;
  height: auto;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.concept-title-img {
  position: absolute;
  left: 45%;
  width: 478px;
  height: auto;
  z-index: 50;
}

.concept-title-img2 {
  max-width: 600px;
  width: 100%;
  height: auto;
  z-index: 50;
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
    padding: 0 20px;
    margin: 0 auto;;
  }
}

.u-container {
  max-width: 1080px;
  display: flex;
  padding: 0 75px 0;
  margin: 0 auto;
  gap: 32px;
  @media screen and (max-width: 768px) {
    display: flex;
    padding: 0;
    flex-direction: column-reverse;
    margin-bottom: 30px;
    
  } 
}

.concept {
  display: block;
  position: relative;
  height: auto;
  margin: 160px 0;
  box-sizing: border-box;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    margin: 0;
  }
}

.concept__img {
  width: 100%;
  height: auto;
  opacity: 0.9;
  z-index: 40;
  @media screen and (max-width: 768px) {
    max-width: 418px;
    margin: 0 auto;
  }
}

.concept__title {
  position: relative;
  margin: 0 0 25px -70px;
  letter-spacing: 0.17em;
  z-index: 50;
  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    margin-left: 0;
  } 
}

.concept__text {
  font-size: 32px;
  margin: 158px 0 50px 0;
  letter-spacing: 0.17em;
  display: flex;
  @media screen and (max-width: 768px) {
    margin: 0;
    font-size: 24px;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
    display: block;
  } 
}

.concept-second-text {
  font-size: 16px;
  margin-bottom: 66px;
  @media screen and (max-width: 768px) {
    margin-left: 0;
    margin-bottom: 22px;
    padding: 10px;
    font-size: 12px;
    text-align: center;
  } 
}

/*-------------------------------------------
works&grid
-------------------------------------------*/
.works {
  position: relative;
  background-color: #000000;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
  @media screen and (max-width: 1080px) {
    height: auto;
    margin-top: -10px;
  }
  @media screen and (max-width: 768px) {
    margin-top: -10px;
  }
  @media screen and (max-width: 450px) {
    margin-top: -10px;
  }
}


.works-piece-title {
  margin-top: 10px;
  width: 221px;
  height: 48px;
  color:#FFF;
  word-break: normal;
  overflow-wrap: break-word;
}

.works-piece-title:hover {
  color:#b201d5;
}

.works-img {
  max-width: 600px;
  width: 100%;
}

/*******************************
contact
*******************************/
.contact {
  display: block;
  width: auto;
  margin: 160px auto;
}

.contact-img {
  width: 100%;
  height: auto;
  max-width: 600px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*******************************
relevant
*******************************/
.relevant {
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 160px;
  background-color: #000;
  box-sizing: border-box;
  @media screen and (max-width: 768px) {
    padding-bottom: 30px;
  }
}

.relevant-title {
  text-align: center;
  max-width: none;
}

.relevant-img {
  width: 100%;
  max-width: 1000px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.relevant2-img {
  width: 100%;
  max-width: 1000px;
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
}

.relevant__textBox {
  display: block;
  color: #fff;
  width: 100%;
  margin: 100px auto;
  padding: 0 253px 0;
  @media screen and (max-width: 1080px) {
    padding: 0 70px;
  }
  @media screen and (max-width: 768px) {
    padding: 0 70px;
  }
  @media screen and (max-width: 450px) {
    padding: 0 10px;
  }
}

.relevant__h2 {
  display: block;
  font-size: 32px;
  margin-bottom: 25px;
}

.relevant__text {
  display: block;
  line-height: 175%;
  margin-bottom: 40px;
  width: 100%;
  padding: 24px;
}

/*******************************
strength
*******************************/
.strength {
  display: block;
  padding: 0 24px;
}

.strength-img {
  width: 100%;
  max-width: 600px;
}

.strength-title {
  text-align: center;
  max-width: none;
}

.curiosity__img {
  width: 100%;
  height: auto;
  display: block;
}

.strength__Box {
  display: block;
  width: 100%;
  padding: 0 160px 0;
  margin: 100px auto 160px auto;
  box-sizing: border-box;
  @media screen and (max-width: 1080px) {
    padding: 0 12px;
 }
  @media screen and (max-width: 768px) { 
    margin: 0 auto 160px auto;
 }
 @media screen and (max-width: 450px) { 
  padding: 0;
 }
}

.s-wrapper {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  border-top: 2px solid #000;
  @media screen and (max-width: 768px) {
    display: block;
    border-top: none;
    margin-top: 88px;
    height: auto;
  }
  @media screen and (max-width: 450px) {
    margin-top: 75px;
  }
}

.left-box {
  position: relative;
  display: inline-block;
  /*width: 100%; /* 必要に応じて調整 */
  max-width: 800px; /* 画像サイズ上限 */
}

.s-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: clamp(20px, 5vw, 48px); /* レスポンシブな文字サイズ */
  text-align: center;
  white-space: nowrap;
  text-shadow: 0 2px 5px rgba(0,0,0,0.5); /* 読みやすくする影 */
}

.right-text {
  width: 450px;
  font-size: 16px;
  line-height: 2;
  max-width: 384px;
  padding-left: 20px;
  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 10px auto 0;
  }
  @media screen and (max-width: 450px) {
    width: 100%;
    margin: 10px auto 0;
  }
}

/*******************************
belief
*******************************/
.belief {
  width: 100%;
  box-sizing: border-box;
}

.belief-title {
  max-width: none;
}

.belief-img {
  max-width: 1000px;
  width: 100%;
@media screen and (max-width: 768px) {
    margin: 10px 10px;
  } 
}

.belief__textBox {
  width: 100%;
  margin: 100px auto 0 auto;
  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 0 24px;
    margin: 88px auto 0 auto;
  }
  @media screen and (max-width: 450px) {
    padding: 0 10px;
    }
}

.belief__text {
  padding: 0 250px;
  letter-spacing: 0.4em;
  line-height: 175%;
  @media screen and (max-width: 1080px) {
   padding: 0 70px;
  }
  @media screen and (max-width: 768px) {
   padding: 0 0;
  }
}

/*******************************
single
*******************************/
.single-container {
  width: 850px;
  margin: 250px auto 0 auto;
  @media screen and (max-width: 768px) {
    width: 100%;
    height: auto;
    margin: 160px auto 0 auto;
  }
  @media screen and (max-width: 450px) {
    width: 100%;
    height: auto;
    margin: 134px auto 0 auto;
  }
}

.top-section {
  display: flex;
  border-bottom: 2px solid #000;
  padding: 20px;
  margin-bottom: 20px;
  height: 400px; 
  @media screen and (max-width: 768px) {
    display: block;
    height: auto;
  }
  @media screen and (max-width: 450px) {
    height: auto;
  }
}

.single-image {
  width: 405px;
  padding-right: 20px;
  display:flex;
  align-items:center;
  justify-content:center;
  overflow:hidden;
  @media screen and (max-width: 768px) {
    margin: 0 auto 90px;
    padding-right: 0;
  }
  @media screen and (max-width: 450px) {
    width: 100%;
  }
}

.single-image img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  width: auto;
  height: auto;
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  object-fit: cover;
  @media screen and (max-width: 450px) {
    width: 100%;
  }
}

.vertical-line {
  width: 2px;
  background-color: #000;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.text-block-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 100px;
  padding-bottom: 10px;
  border-bottom: dashed 1px;
  @media screen and (max-width: 768px) {
    margin-top: -80px;
  }
}

.text-block {
  margin-top: 40px;
  padding-top: 10px;
  border-top: dashed 1px;
}

/*******************************
page-about
*******************************/
.about__top {
  position: relative;
}

.instroduction__box {
  display: block;
  position: relative;
  width: 100%;
  margin: 160px auto;
}

.about__img1 {
  position: relative;
  display: block;
  max-width: 900px;
  width: 100%;
  height: auto;
  opacity: 0.5;
  margin: 0 auto;
  z-index: 10;
 @media screen and (max-width: 700px) {
    max-width: 218px;
    width: 100%;
    margin: 0 auto;
  }
}

.instroduction__name {
  font-size: 24px;
  text-align: center;
  margin-bottom: 55px;
  @media screen and (max-width: 700px) {
   display: none;
  }
}

.instroduction__name2 {
  position: relative;
  font-size: 24px;
  text-align: center;
  margin:30px auto 55px;
  display: none;
  @media screen and (max-width: 700px) {
    display: block;
  }
}

.instroduction__wording2 {
  display: none;
  @media screen and (max-width: 700px) {
    display: block;
  }
}

.about-textbox {
  position: absolute;
  padding: 0 25px;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  z-index: 10;
  @media screen and (max-width: 700px) {
    display: none;
  }
}

.instroduction__wording {
  position: relative;
  max-width: 500px;
  width: 100%;
  height: auto;
  line-height: 175%;
  margin: 0 auto;
}

.instroduction__SNS {
  display: flex;
  justify-content: end;
}

/*******************************
contact-form
*******************************/


/* ループ */

.marquee-container {
  width: 100%;
  overflow: hidden;
  height: 60px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.marquee {
  display: flex;
  white-space: nowrap;
  font-size: 2rem;
  color: rgb(0, 0, 0);
}

.scroll-name {
  padding-right: 60px;
}

/* フェードイン */

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}